footer{
background-color: #111827;
  width: 100%;


  padding: 50px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerlinks a{
 list-style-type:none;
 text-decoration: none;
 display: block;
}
.sa-footer{
  width: 250px;
  
}
.sa-footer img{
  width: 90px;
}
.sa-footer p{
      padding-top: 20px;
    font-size: 17px;
    padding-bottom: 20px;
    color: #9ca3af;
}
.sa-footer i{
  padding-right: 10px;
  font-size: 25px;
 color: #9ca3af;
  padding: 7px 10px;
  
}
.sa-footer i:hover{
  background-color: #1f2937;
  border-radius: 4px;
}

.footerlinks a{
  padding-top: 15px;
      font-size: 17px;
      color:#9ca3af;
}
.footerlinks h3{
  color: #fff;
  
}

.last{
      padding-top: 50px;
}
.secure{
padding-bottom: 82px;
}

.formfooter h3{
color: #fff;
}
.formfooter p{
  color: #9ca3af;
  font-size: 17px;
    padding-top: 15px;
}

form{
  padding-top: 20px;
  padding-bottom: 36px;

}

form input{
  width: 300px;
  padding: 15px 30px;
  border-radius: 10px;
  padding-right: 10px;
  font-size: 15px;
  outline: none;
  color: #9ca3af;
  background: transparent;
  border: 1px solid #222223;
}
form button{
  padding: 15px 30px;
  background-color: #7c3aed;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
form button:hover{
  background-color: #672fc8;
}

@media (min-width:320px) and (max-width:480px){
   footer {
    background-color: #111827;
    width: 100%;
    padding: 50px 50px;
    display: block;
}

  form input {
    width: 250px;
    padding: 15px 24px;
    border-radius: 10px;
    padding-right: 10px;
    font-size: 10px;
    outline: none;
    color: #9ca3af;
    background: transparent;
    border: 1px solid #222223;
    margin-bottom: 10px;
}
.socialicon{
  margin-bottom: 25px;
}
.footerlinks {
    margin-bottom: 15px;
  }
  .last{
    padding-top: 0%;
    margin-bottom: 0%;
  }
  form button {
    padding: 8px 15px;
    background-color: #7c3aed;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
}
